* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;    
}

body {
    font-family: 'Poppins', sans-serif;    
    color: white;
    background: linear-gradient(180deg, #02111B 0%, #3F4045 100%);
}

#home-page-search {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    margin: 0 150px;
}

.col {
    font-family: 'Poppins', sans-serif;  
    font-weight: 100;  
    border-style: none;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px 5px;
    padding: 10px;
    height: auto;
    width: auto;
    background: linear-gradient(316deg, #045de9, #1c7293, #06bcfb, #4884ee);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.wind {
font-weight: 100;
}

.humidity {
    font-weight: 100;
}

.five-day-temp {
    font-weight: 100;
}

.five-day-date {
    text-decoration: underline;
    font-size: 25px;
} 

#search-btn {
    background: linear-gradient(#065A82 25%, #1C7293 100%);
    color: white;    
    border-style: none;
    margin: 0 5px;
}